.env

/.idea

/logs
/data
/.project

/docker/nginx/ssl/*.crt
/docker/nginx/ssl/*.key
/docker/nginx/ssl/*.csr

/docker/apache2/ssl/*.crt
/docker/apache2/ssl/*.key
/docker/apache2/ssl/*.csr
/docker/apache2/ssl/*.org

/apache2
/memcached
/mysql
/nginx
/php-fpm
/postgres
/rabbitmq
/redis
/workspace

.DS_Store